#root {
  /* max-width: 1280px; */
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  overflow: hidden;
  color: black;
}
.scrollableAddress {
  scrollbar-width: thin;
  scrollbar-color: #1976d2 #e0e0e0;
}