#root {
  /* max-width: 1280px; */
  width: 100%;
  height:100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: white;
  overflow: hidden;
  color: black;
}
.scrollableAddress {
  scrollbar-width: thin;
  scrollbar-color: #1976d2 #e0e0e0;
}

/* .pic {
  transform:skewX(10deg);
} */

.scroller {
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}

.scrollerTrack {
  display: flex;
  animation: scroll 10s linear infinite;
  width:max-content;
  height:100%;

}

/* Infinite marquee animation */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
